<div class="container forgot-password-container" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
  <div class="forgot-password-wrapper">

    <div class="forgot-password-header " >
      <h2 class="forgot-password-header " >Forgot Password?</h2>
    </div>

    <div class="forgot-password-input">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div>
          <h4>Please enter the email that you want to reset the password</h4>
        </div>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions" %>
        </div>
      <% end %>
    </div>

    <div class="btn" id="log-in-back-btn">
      <%= link_to "Go back", new_user_session_path %>
    </div>
  </div>

</div>

  <%# <%= render "devise/shared/links" %>
