<div class="container forgot-password-container"
<%# style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"> %>
%>
  <div class="forgot-password-wrapper">

    <div class="forgot-password-header " >
      <h2 class="forgot-password-header " >Forgot your password?</h2>
    </div>

    <div class="forgot-password-input">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div>
          <p>Please enter your email address so that we can send you an email to reset your password</p>
        </div>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>
        <p>We will send you the instructions to reset your password.</p>
        <div class="form-actions">
          <%= f.button :submit, "Next", class: 'red-button' %>
        </div>
      <% end %>
    </div>

    <div>
      <%= link_to "Go back", new_user_session_path, class: 'login-link' %>
    </div>
  </div>

</div>

  <%# <%= render "devise/shared/links" %>
