 <div class="payer-partial"
  data-controller="payers"
  data-payers-has-payer-value="<%= member.payer?(bill) %>"
  data-payers-split-id-value="<%= split.id %>"
  data-payers-bill-id-value="<%= bill.id %>"
  data-payers-payer-id-value="<%= member.payer?(bill) ? member.payer_id(bill) : nil %>">

  <%# <%= render "form", payer: payer %>

  <% if member.payer?(bill) %>

    <%= link_to split_bill_payer_path(split.id, bill.id, member.payer_id(bill)),
        data: {
          action: 'click->payers#delete',
          turbo_method: :delete,
          payers_target:"checkbox"
        },
        class: "person d-flex delete" do %>
        <div class="d-flex person-details">
          <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
          <p><%= member.given_nickname(current_user) %></p>
        </div>
      <% end %>


  <% else %>
    <%= simple_form_for([split, bill, payer], html: { data: {
      payers_target: "form",
      action: "submit->payers#toggle"} }) do |f|  %>
      <%= hidden_field_tag "member_id", member.id %>

      <%= button_tag "", type:  "submit", class:"d-flex person", style:"padding:14px; border:none;", data: { payers_target:"checkbox" } do %>
        <div class="d-flex person-details">
          <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
          <p><%= member.given_nickname(current_user) %></p>
        </div>
      <% end %>

    <% end %>

  <% end %>
</div>
