<div class="page-setup">

  <div class="manual-input">
    <div class="text-center manual-input-header">
      <h1><%= @split.name.upcase %></h1>
    </div>

    <div class="container text-left manual-inputs-header" >
      <%= simple_form_for [@split, @bill] do |f| %>
        <%= f.input :merchant %>
        <%= f.input :date %>

        <div class="items" data-controller="bills-manual-input" data-bills-manual-input-next-id-value="<%= @next_id %>">
          <%= f.simple_fields_for(:items) do |ff| %>

            <div class="align-items-center" data-bills-manual-input-target="addInputElement">
              <%= render 'item_form_input', ff: ff %>
            </div>

          <% end %>
          <button type="button" class="btn-lg add-button" data-action="click->bills-manual-input#addItemInput" >
            Add Item
          </button>

        </div>


        <div class="all-taxes" data-bills-manual-input-target="taxInputElement">

            <%= f.input :taxes_in_dollars, as: :float, input_html: { min: '0.00' } %>
            <%= f.input :service_charge_in_dollars, as: :float, input_html: { min: '0.00' } %>
            <%= f.input :discount_in_dollars, as: :float, input_html: { min: '0.00' } %>
            <%= f.input :total_amount_in_dollars, as: :float, input_html: { min: '0.00' } %>

            <%= f.submit class: 'pink-button' %>


            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
