<div class="page-setup new-bill">

  <div class="manual-input container">

    <div class="container" >
      <%= link_to "Back", select_split_bills_path, class: "btn red-button" %>
    </div >
    <div class="text-center manual-input-header">
      <h1 class="purple-text"><%= @split.name.capitalize %></h1>
    </div>

    <div class="container text-left manual-inputs-header" >
      <%= simple_form_for [@split, @bill] do |f| %>
        <%= f.input :merchant %>
        <%= f.input :date %>

        <div class="items" data-controller="bills-manual-input" data-bills-manual-input-target="itemsFieldElement">
          <%= f.simple_fields_for(:items) do |ff| %>

            <div class="align-items-center" data-bills-manual-input-target="addInputElement">
              <%= render 'item_form_input', ff: ff %>
            </div>

          <% end %>
          <button type="button" class="btn-lg standard-button white-pink-button mb-4" data-action="click->bills-manual-input#addItemInput" >
            Add Item
          </button>

        </div>


        <div class="all-taxes" data-bills-manual-input-target="taxInputElement">

            <%= f.input :taxes, label: 'GST', as: :float, input_html: { min: '0.00' } %>
            <%= f.input :service_charge, as: :float, input_html: { min: '0.00' } %>
            <%= f.input :discount, as: :float, input_html: { min: '0.00' } %>
            <%# <%= f.input :total_amount, as: :float, input_html: { min: '0.00' } %>

            <%= f.submit class: "red-button standard-button" %>


            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
