<div class="manual-input">
  <div class="text-center manual-input-header">
    <h1 ><%= @split.name.upcase %></h1>
  </div>

  <div class="container text-left manual-inputs-header" >
    <%= simple_form_for [@split, @bill] do |f| %>
      <%= f.input :merchant %>

      <div class="items" data-controller="bills-manual-input">
        <%= f.simple_fields_for(:items) do |ff| %>

          <div class="align-items-center" data-bills-manual-input-target="addInputElement">
            <%= render 'item_form_input', ff: ff %>
          </div>

        <% end %>
        <button type="button" class="btn-lg add-button" data-action="click->bills-manual-input#addItemInput" >
          Add Item
        </button>

      </div>


      <div class="all-taxes" data-bills-manual-input-target="taxInputElement">

          <%= f.input :taxes, input_html: { min: '0' } %>
          <%= f.input :service_charge, input_html: { min: '0' } %>
          <%= f.input :discount, input_html: { min: '0' } %>

          <%= f.submit  %>


          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>


<%#
<%= link_to "Continue", split_bill_items_path(split: @split_id, bill: @bill.id) %>
