<div class="page-setup bill-upload-select">

  <div class="container">
    <h1>How would you like to upload your bill for <%= @split.name %>?</h1>

    <div class="row">
      <div class="col-6">
        <div class="text-center d-flex flex-column align-items-center">
          <%= image_tag "manual-input.png", class:"img-fluid", style: "height: 110px;" %>
          <%= link_to "Manual Input", new_split_bill_path(@split), class:"btn red-button standard-button mt-2 mb-5" %>
        </div >
      </div>
      <div class="col-6">
        <div class="text-center d-flex flex-column align-items-center">
        <%= image_tag "upload-option.png", class:"img-fluid", style: "height: 110px;" %>
        <%= link_to "Upload Receipt Photo", receipt_split_bills_path(@split), class:"btn red-button standard-button mt-2 mb-5" %>
        </div>
      </div>
    </div>
  </div>
</div>
