<div class="dashboard page-setup" style="background-color: #F5E9CF">

  <%# <nav class="nav bar"> %>
    <%# <div class="d-flex page-top"> %>
    <div class="d-flex justify-content-end page-top">

      <%# <a class="navbar-brand" href="#">
        <i class="fa-solid fa-bell"></i></a> %>
      <%= link_to destroy_user_session_path,
      data: {turbo_method: :delete},
      class: "log-out" do %>
        <%# <i class="fa-solid fa-power-off" style="color:#E96479"></i> %>
        <p class="log-out-btn">Log Out</p>
      <% end %>

      <%# <%= link_to new_split_path do %>
        <%# <i class="fa-solid fa-rotate-right" style="color:#E96479"></i> %>
      <%# <% end %>
    </div>
  <%# </nav> %>

<div class="welcome-message" style="text-align: center";>
  <h1 class="ff-bold">Hello <%= current_user.username %></h1>
</div>

<div class="container mt-5" style="text-align: center";>
  <div class="row">
    <div class="col-6" style="padding:8px 4px 8px 16px;">
      <div class="card outstanding-card green" style="background-color:#4D455D; border:1px solid; padding: 16px">
        <div class="card-body" style="padding:0">
          <h5 class="card-title">You're owed: </h5>

          <p class="card-text outstanding-owed ff-bold">SGD $ <%= format('%.2f',current_user.owed_summary(current_user)/100.00) %></p>
          <%= link_to "View Splits", splits_path,
          # class:"create-button
          class: "view-splits" %>

        </div>
      </div>
    </div>
    <div class="col-6" style="padding:8px 16px 8px 4px;">
      <div class="card outstanding-card red"  style="background-color:#4D455D; border:1px solid; padding: 16px">
        <div class="card-body" style="padding:0">
          <h5 class="card-title">You owe: </h5>
        <p class="card-text outstanding-owe ff-bold">SGD $<%= format('%.2f',current_user.owe_summary(current_user)/100.00) %></p>
          <%= link_to "View Splits", splits_path,
          class: "view-splits"
          # class:"create-button"
          %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 px-7">
  <h4>Transactions</h4>
  <% @splits = current_user.member.splits %>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" style="border:none; border-radius:5px; color:#4D455D" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">

            <p class="split"><%= @splits.accordion_split(-1) %></p>

        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <% if @splits.accordion_bills(-1).nil? %>
              <div>
                <i class="fa-solid fa-receipt"></i>
                <%= "No Bills Found" %>
              </div>
              <% else %>
              <% @splits.accordion_bills(-1).each do |bill| %>
              <div>
                <i class="fa-solid fa-receipt purple-color-text"></i>
                <%= link_to "#{bill.merchant}", split_bill_path(@splits.split_sort[-1], bill), class:"text-decoration-none purple-color-text" %>
              </div>
            <% end %>
            <% end %>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" style="border:none; border-radius:5px; color:#4D455D" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          <p class="split"><%= @splits.accordion_split(-2) %></p>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <% if @splits.accordion_bills(-2).nil? %>
              <div>
                <i class="fa-solid fa-receipt purple-color-text"></i>
                <%= "No Bills Found" %>
              </div>
              <% else %>
              <% @splits.accordion_bills(-2).each do |bill| %>
              <div>
                <i class="fa-solid fa-receipt"></i>
                <%= link_to "#{bill.merchant}", split_bill_path(@splits.split_sort[-2], bill), class:"text-decoration-none purple-color-text" %>
              </div>
            <% end %>
            <% end %>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" style="border:none; border-radius:5px; color:#4D455D" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">

          <p class="split"><%= @splits.accordion_split(-3) %></p>
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <% if @splits.accordion_bills(-3).nil? %>
              <div>
                <i class="fa-solid fa-receipt purple-color-text"></i>
                <%= "No Bills Found" %>
              </div>
              <% else %>
              <% @splits.accordion_bills(-3).each do |bill| %>
              <div>
                <i class="fa-solid fa-receipt"></i>
                <%= link_to "#{bill.merchant}", split_bill_path(@splits.split_sort[-3], bill), class:"text-decoration-none purple-color-text" %>
              </div>
            <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="my-3 mx-4 text-end">
    <%= link_to "See More", splits_path, class:"text-decoration-none see-more" %>
  </div>
  <%# <div class="my-5" style="background-color: #F5E9CF">
  </div> %>
</div>
</div>
