
<div class="container">
  <div class="mt-5">
  <%# @split.members.each do |member| %>
    <%# <%= #member.given_nickname(@split.user) %>
  <%# <% #end %>
  <h3>Bills:</h3>
  <% @split.bills.each do |bill| %>
    <%= link_to split_bill_path(@split, bill), class:"text-decoration-none text-dark" do %>
      <div class="my-4 splits-summary-card">
        <h4><%= "#{bill.merchant}" %></h4>
        <h5><%= "Date: #{bill.date}" %></h5>
        <h5><%= "Total amount: SGD#{format('%.2f', bill.total_amount/100.00)}" %></h5>
        <% bill.split.members.each do |member| %>
          <div class="member-info">
            <i class="fa-solid fa-circle-user fs-2" title="<%= member.given_nickname(@split.user) %>" ></i>
            <%# <p><%= member.given_nickname(@split.user)</p> %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <h3 class="pt-5">Settlements:</h3>
  <% @split.settlements.each do |settlement| %>
    <div class="my-4 splits-summary-card">
      <p class="my-0">
        <%= "#{settlement[:payee].given_nickname(@split.user)} (#{settlement[:payee].phone_number}) owes #{settlement[:payer].given_nickname(@split.user)} (#{settlement[:payer].phone_number})" %>
        <%= "SGD#{format('%.2f', settlement[:amount]/100.00)}" %>
      </p>
        <div class="d-flex justify-content-end mt-1 mb-0 me-4">
          <% url_encoded_msg = CGI.escape("Hello #{settlement[:payee].given_nickname(@split.user)}. Please pay #{settlement[:payer].given_nickname(@split.user)} SGD#{format('%.2f', settlement[:amount]/100.00)}. O$P$ Paynow at #{settlement[:payer].phone_number}. ") %>
          <a href="https://wa.me/<%= settlement[:payee].phone_number %>?text=<%= url_encoded_msg %>" class="whatsapp-button">
            <i class="fa-brands fa-whatsapp"></i>Whatsapp
          </a>
        </div>
    </div>
  <% end %>
  <%# @split.get_split_stats.each do |stat| %>
    <div class="my-5">
      <h5><%#= "#{stat[:payee_member].given_nickname(current_user)} owes #{stat[:payer_member].given_nickname(current_user)} SGD#{stat[:amount]/100.00}" %></h5>
    </div>
  <%# end %>
</div>
