
<div class="row">

  <% @splits.each do |split| %>
  <%= link_to split_path(split), class:"text-decoration-none text-dark"  do %>
    <div class="row justify-content-center no-vertical-padding">
      <div class="splits-summary-card col-11 my-1">
        <div class="row">
          <div class="col-6">
            <h4 class="split-highlight-title"><%= split.name %></h4>
            <p class="date"><%= split.date %></p>
          </div>
          <div class="col-4 d-flex align-items-center">
              <% split.members.each do |member| %>
                <i class="fa-solid fa-circle-user fs-2 pink-color-text" title="<%= member.given_nickname(split.user) %>" ></i>
              <% end %>
        </div>
      </div>
    </div>


    <%# <div class="col-md-6 col-lg-4">
      <div class="d-flex flex-column align-items-center p-5">
        <%= link_to split_path(split) do %>
          <%# <%= image_tag "payment-receipt-with-coin.jpg", class:"w-100 image-rounded" %>
        <%# end %>
        <%# <div class="my-3 text-center"> %>
          <%# <%= link_to"#{split.name}", split_path(split), class:"text-decoration-none btn create-button" %>
        <%# </div>
      </div>
    </div> %>
  <% end %>
  <% end %>
</div>
