<div class="container" data-controller="filter-contacts" data-filter-contacts-split-id-value="<%= @split.id %>">

  <h1>Add members</h1>

  <%= simple_form_for([@split, @split_member], html: { data: { "filter-contacts-target" => "form" } }) do |f| %>
    <div class="mb-3 tel required member_nickname">
      <label class="form-label tel required" for="member_nickname">Nickname <abbr title="required">*</abbr></label>
      <input class="form-control string tel required" placeholder="Start typing to filter your contacts" data-action="keyup->filter-contacts#filterByNickname" type="text" name="nickname" id="member_nickname">
    </div>

    <div class="mb-3 tel required member_phone_number">
      <label class="form-label tel required" for="member_phone_number">Phone Number <abbr title="required">*</abbr></label>
      <input class="form-control string tel required" placeholder="Enter phone number" type="text" name="phone_number" id="member_phone_number">
    </div>

    <%= f.association :split, as: :hidden %>

    <%= f.submit 'Add to split' %>
  <% end %>
  <br>
  <h2>Included in split:</h2>
    <% @split.members.each do |member| %>
      <p><%= member.given_nickname(current_user) %> <%= member.phone_number %></p>
    <% end %>

    <%= render "contact_list", available_contacts: @available_contacts, split: @split %>
  </div>

<%= link_to "Add a bill", select_split_bills_path  %>
