<div class="container">
  <h1>Create a new Split!</h1>
  <%= simple_form_for(@split) do |f| %>
    <%= f.input :name %>
    <%= f.input :date %>
    <%= f.submit "Add members" %>
  <% end %>
<<<<<<< HEAD
=======
  <br>
>>>>>>> 196868fafb23f3f7c4986b316ff497a7c96e583b
  <%= link_to "Back", root_path, class: "split-button" %>
</div>
