<%= simple_form_for item, data: { edit_bill_target: "itemDescriptions" } do |f| %>
  <div class="row g-0">
    <div class="col" >
      <%= f.input :name, label: false, input_html: { data: {
        action: 'blur->edit-bill#updateItem',
        class: 'w-100'
      }}  %>
    </div>

    <div class="col">
      <%= f.input :quantity, label: false, input_html: { data: {
        action: 'blur->edit-bill#updateItem',
        # style: 'width: 100px;'
      }}  %>
    </div>

    <div class="col">
      <%= f.input :price, label: false, wrapper_html: { style: "height: 0px; margin-bottom: 0px !important;" }, input_html: {
        class: 'd-none',
        data: {
        }
      } %>
      <input value="<%= cents_to_dollars(item.price) %>"
      min="0"
      class="w-100 form-control" type="number" data-item-target="price" data-action="blur->edit-bill#updateItem">
    </div>


  </div>
<% end %>
