<div data-controller="add-people"
  data-add-people-has-item-member-value="<%= member.item_member?(item) %>"
  data-add-people-split-id-value="<%= @split.id %>"
  data-add-people-bill-id-value="<%= @bill.id %>"
  data-add-people-item-id-value="<%= item.id %>"
  data-add-people-item-member-id-value="<%= member.item_member?(item) ? member.item_member_id(item) : nil %>">
    <%# <a class="nickname" href="#"><%= member.first_name</a> %>

  <% if member.item_member?(item) %>

    <%= link_to "Delete",
        split_bill_item_item_member_path(split.id, bill.id, item.id, member.item_member_id(item)),
        # split_bill_payer_path(split.id, bill.id, member.payer_id(bill)),
        data: {turbo_method: :delete}
      %>

  <% else %>

    <%= simple_form_for([@split, @bill, item, @item_member], html: { data: {
      add_people_target: "form",
      action: "submit->add-people#toggle"} }) do |f| %>

    <%# <%= form_with url: split_bill_payers_path, data: {
      add_people_target: "form",
      action: "submit->add-people#toggle"} do |f|  %>

      <%= hidden_field_tag "member_id", member.id %>

      <div class="d-flex person">
        <div class="d-flex">
          <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
          <p><%= member.given_nickname(current_user) %></p>
        </div>
        <%= button_tag "", type:  "submit", class:"grey", style:"background:none; padding:0px; border:none;", data: { add_people_target:"checkbox" } do %>
          <i class="fa-solid fa-square-check" ></i>
        <% end %>
      </div>

    <% end %>
  <% end%>
</div>
