<div class="page-setup">

  <div class="container">
    Test to edit items
  </div>

  <ul>
    <% @items.each_with_index do |item, index| %>
      <li>
        <%= "#{index + 1}. #{item.name} #{item.price} $#{item.quantity}" %>
      </li>

      <%= link_to "Edit", split_bill_items_path(@items) %>

      <%= simple_form_for(@items) do |f| %>
        <%= f.input :name %>
        <%= f.input :price %>
        <%= f.input :quantity %>
        <%= f.button :submit, "Update" %>
      <% end %>
    <% end %>
  </ul>
</div>
