<div class="container-fluid bill-index" data-billroom-subscription-bill-id-value=<%= @bill.id %> data-controller="edit-bill billroom-subscription" data-action="click->edit-bill#closeForm">
	<div class="bill-description">
		<%# <%= link_to collaborate_path %>
		<%# <%= link_to edit_bill_path %>
		<h1
			data-action="click->edit-bill#toggleSplitForm"
			data-edit-bill-target="splitHeader"
			class="fw-bold split-name-value">
			<%= "#{@split.name}" %>
		</h1>
		<%= simple_form_for @split,
			html: {
			  data: {
			    edit_bill_target: "splitText",
			    action: "focusout->edit-bill#updateSplitValue"
			  },
			  class: 'd-none'
			} do |f| %>
		<%= f.input :name, label: false %>
		<% end %>
		<div class="payer dropdown d-flex">
			<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
			Select Person(s)
			</button>
			<ul class="dropdown-menu">
				<% @split_members.each do |member| %>
				<%= render 'bills/payer', member: member, bill: @bill, split: @split, payer: @payer %>
				<% end %>
			</ul>
			<h2>paid this bill</h2>
		</div>
		<%= simple_form_for @bill,
			html: { data: { edit_bill_target: "merchantAndDate" } } do |f| %>
		<%= f.input :merchant,
			label: false,
			input_html: {
			  placeholder: 'Merchant Name',
			  data: { action: 'blur->edit-bill#updateMerchantValue' }
			}
			%>
		<%= f.input :date,
			label: false,
			input_html: {
			  data: {
			    action: 'blur->edit-bill#updateMerchantValue'
			  }
			} %>
		<% end %>
	</div>
	<hr>
	<%# ------------------------------------------------------------- %>
	<div class="bill-items">
		<div class="bill-headers row" style="margin-bottom: 0.8rem">
			<h3 class="col-6 item">Item</h3>
			<h3 class="col-2 right-text">Qty</h3>
			<h3 class="col-2 right-text">Unit price</h3>
			<h3 class="col-2">People</h3>
		</div>
		<%# <hr style="margin-top: 0.5rem"> %>
		<div class="add-people-button">
			<div class="item-row">
				<% @bill.items.each do |item| %>
				<div class="bill-summary-item-card row">
					<div class="col-10">
						<%= render 'item_form', item: item %>
					</div>
					<div class="col-2">
						<div data-controller="add-people-button" class="people">
							<div class="bill-summary-item-card d-flex">
								<%# <p class="col-2 people" data-action="click->add-people-button#appear">add people</p> %>
								<button class="col-2 people btn btn-secondary " type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" style="margin-right:0">
								<i class="fa-solid fa-user-plus"></i>
								</button>
								<div class="payer dropdown d-flex">
									<ul class="dropdown-menu dropdown-menu-end">
										<% @split_members.each do |member| %>
										<%= render 'items/item_member', member: member, bill: @bill, split: @split, item: item, item_member: @item_member %>
										<% end %>
									</ul>
								</div>
								<%# <p class="col-1"><%= "#{item.quantity}"</p> %>
								<%# <p class="col-2"><%= sprintf("%.2f", item.price / 100.00)</p> %>
							</div>
							<%# <div class="pop-up d-none" data-add-people-button-target="popup"> %>
						</div>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<%# ------------------------------------------------------------- %>
	<%# form for taxes & discount %>
	<div class="bill-footer row" data-action="click->edit-bill#closeTaxForm">
		<%= simple_form_for @bill,
			html: {
			  data: {
			    edit_bill_target: "taxDescriptions",
			    action: "focusout->edit-bill#updateTaxAndDiscount"
			  }
			}  do |f| %>
		<div data-action="click->edit-bill#toggleTaxesForm" class="taxes-toggler">
			<div class="tax-discounts col-6 taxes-toggler">
				<div class="taxes-toggler">
					<p class="tax-value">Discount: $<%= @bill.discount %></p>
				</div>
				<div class="taxes-toggler">
					<p class="tax-value">Tax: $<%= @bill.taxes %></p>
				</div>
				<div class="taxes-toggler">
					<p class="tax-value">Service Charge: $<%= @bill.service_charge %></p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<%= f.input :discount, :label => "Discount: ", input_html: { class: "tax-input discount-input-field", value: @bill.discount },  label_html: { class: "tax-input" }  %>
				</div>
				<div class="col">
					<%= f.input :taxes, :label => "Taxes: ", input_html: { class: "tax-input taxes-input-field", value: @bill.taxes },  label_html: { class: "tax-input" }  %>
				</div>
				<div class="col">
					<%= f.input :service_charge, :label => "Service Charge: ", input_html: { class: "tax-input service-charges-input-field", value: @bill.service_charge },  label_html: { class: "tax-input" }  %>
				</div>
				<div>
					<%= f.hidden_field :authenticity_token, value: form_authenticity_token %>
				</div>
			</div>
			<%# <p>Discount: SGD $<%= sprintf("%.2f", @bill.discount / 100.00)</p> %>
			<%# <p>Tax: SGD $<%= sprintf("%.2f", @bill.taxes / 100.00)</p>  %>
			<%# <p>Service Charge: SGD $<%= sprintf("%.2f", @bill.service_charge / 100.00) </p> %>
			<%# <p>Total Amount: SGD $<%= sprintf("%.2f", @bill.total_amount / 100.00)</p> %>
		</div>
		<% end %>
		<div class="add-receipt col-6 justify-content-center">
			<p style="margin-bottom: 20px">Add another receipt?</p>
			<div class="d-flex">
				<%= link_to "<button>Yes</button>".html_safe, select_split_bills_path, class:"add-another-receipt" %>
				<%= link_to "<button>No</button>".html_safe, split_path(@split), class:"continue-to-bill-summary" %>
			</div>
		</div>
	</div>
</div>
<style>
	/* edit item name, quantity & price */
	.show-form .item-input{
	display: inline !important;
	}
	.item-input {
	display: none;
	}
	.show-form .item-value {
	display: none;
	}
	/* edit split's name */
	.split-name-button {
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	right: 1rem;
	}
	/* merchant's name & date */
	.merchant-and-date .merchant-input {
	display: inline !important;
	}
	.merchant-input {
	display: none;
	}
	.merchant-and-date .merchant-date-value {
	display: none;
	}
	/* taxes */
	.tax-and-discount .tax-input {
	display: inline !important;
	}
	.tax-input {
	display: none;
	}
	.tax-and-discount .tax-value {
	display: none;
	}
</style>
