<div class="container-fluid bill-index">
  <div class="bill-description">
    <%# <%= link_to collaborate_path %>
    <%# <%= link_to edit_bill_path %>

    <h1 class="fw-bold"><%= "#{@split.name}" %></h1>
    <div class="payer dropdown d-flex fw-bold" data-controller="payer-dropdown">
      <form>
        <div class="mb-3">
          <input type="string" class="form-control" id="payer" data-payer-dropdown-target="input" value="<%= current_user %>">
        </div>
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Select Person(s)
        </button>
        <ul class="dropdown-menu">
          <%# <% @split_members.each do |member| %>
            <%# <li><a class="dropdown-item" href="#"><%= member.first_name </a></li>
          <%# <% end %>
          <li><a class="dropdown-item" data-action="click->payer-dropdown#select" data-payer-dropdown-target="name"><%= current_user.Contact.find</a></li> %>
        </ul>
        <h2>paid this bill</h2>
      </form>
    </div>
    <h2>Merchant: <%= "#{@bill.merchant}" %></h2>
    <h2>Date: <%= @bill.date %></h2>
    <hr>
  </div>

<%# ------------------------------------------------------------- %>

  <div class="bill-items">
    <div class="bill-headers row fw-bold">
      <h3 class="col-7 item">Item</h3>
      <h3 class="col-1">Qty</h3>
      <h3 class="col-2">Unit price</h3>
      <h3 class="col-2">People</h3>
    </div>

    <div class="add-people" data-controller="add-people">
      <div class="item-row">
        <% @items.each do |item| %>
          <div class="bill-summary-item-card row">
            <div class="col-7">
              <p class="item"><%= "#{item.name}" %></p>
              <ul>
              </ul>
            </div>

            <p class="col-1"><%= "#{item.quantity}" %></p>
            <p class="col-2"><%= "#{item.price}" %></p>
            <p class="col-2 people" data-action="click->add-people#appear">Add people</p>
          </div>


          <div class="pop-up d-none" data-add-people-target="popup">
            <% @split_members.each do |member| %>
                <%# <a class="nickname" href="#"><%= member.first_name</a> %>
                <%= form_with url: root_path, data: {action: "submit->add-people#check"} do |f|  %>
                  <%= hidden_field_tag "member_id", Contact.find %>
                  <%= hidden_field_tag "remove", false %>

                  <div class="d-flex person">
                    <div class="d-flex">
                      <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
                      <p><%= Contact.find %></p>
                    </div>
                    <%= button_tag "", type:  "submit", class:"add green", style:"background:none; padding:0px; border:none;", data: { add_people_target:"checkbox" } do %>
                    <i class="fa-solid fa-square-check" ></i>
                  <% end %>
                  </div>
                <% end%>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <hr>
  </div>

<%# ------------------------------------------------------------- %>

  <div class="bill-footer row">
    <div class="tax-discounts col-6">
      <p>Tax (<%=  %>%):<%= "TAX AMT HERE" %></p>
      <p>Discount (<%= "%discount" %>%):<%= "-DISCOUNTED AMT HERE" %></p>
    </div>
    <div class="add-receipt col-6 justify-content-center">
      <p>Add another receipt?</p>
      <button>Yes</button>
      <button>No</button>
    </div>
  </div>
</div>
