<div class="page-setup">

  <div class="container-fluid bill-index" data-billroom-subscription-bill-id-value=<%= @bill.id %> data-controller="edit-bill billroom-subscription" data-action="click->edit-bill#closeForm">
    <div class="bill-description">
      <% if user_signed_in? %>
        <%
        host_name = Rails.env == "development" ? "localhost:3000" : request.host
        encoded_url = host_name + "/splits/#{@split.id}"
        encoded_message = "#{current_user&.full_name || @split.user.first_name} is inviting you to join their split at #{encoded_url} "
        %>
        <a id="item-collaborate" class="collaborate standard-button yellow-pink-button" href="https://api.whatsapp.com/send?text=<%= encoded_message %>">Collaborate</a>
      <% end %>

      <h1
        data-action="click->edit-bill#toggleSplitForm"
        data-edit-bill-target="splitHeader"
        class="fw-bold split-name-value">
        <%= "#{@split.name}" %>
      </h1>

      <%= simple_form_for @split,
        html: {
          data: {
            edit_bill_target: "splitText",
            action: "focusout->edit-bill#updateSplitValue"
          },
          class: 'd-none'
        } do |f| %>
          <%= f.input :name, label: false, input_html: { style: "max-width: 420px;" } %>
      <% end %>

      <div class="payer dropdown d-flex">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
          Select Person(s)
        </button>
        <ul class="dropdown-menu">
          <% @split_members.each do |member| %>
            <%= render 'bills/payer', member: member, bill: @bill, split: @split, payer: @payer %>
          <% end %>
        </ul>
        <h2>paid this bill</h2>
      </div>

      <%= simple_form_for @bill,
        html: { data: { edit_bill_target: "merchantAndDate" } } do |f| %>

        <%= f.input :merchant,
              label: false,
              input_html: {
                style: "max-width: 420px;",
                placeholder: 'Merchant Name',
                data: { action: 'blur->edit-bill#updateMerchantValue' }
              }
              %>

        <%= f.input :date,
            label: false,
            input_html: {
              data: {
                action: 'blur->edit-bill#updateMerchantValue'
              }
            } %>

      <% end %>
  </div>

  <hr>


<%# ------------------------------------------------------------- %>

  <div id="bill">
    <div class="bill-items">
      <div class="bill-headers row" style="margin-bottom: 0.8rem">
        <h3 class="col-7 item">Item</h3>
        <h3 class="col-1">Qty</h3>
        <h3 class="col-2">Unit price</h3>
        <h3 class="col-2">People</h3>
      </div>

      <div class="add-people-button">
        <div class="item-row">
          <% @bill.items.each do |item| %>

            <div class="bill-summary-item-card row">

              <div class="col-10">
                <%= render 'item_form', item: item %>
              </div>

              <div class="col-2">
                <div data-controller="add-people-button" class="">
                  <div class="bill-summary-item-card d-flex justify-content-center align-items-center">
                    <%# <p class="col-2 people" data-action="click->add-people-button#appear">add people</p> %>
                    <button class="col-2 people btn btn-secondary " type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" style="margin-right:0">
                      <i class="fa-solid fa-user-plus"></i>
                    </button>
                    <div class="payer dropdown d-flex">
                      <ul class="dropdown-menu dropdown-menu-end">

                        <% @split_members.each do |member| %>
                          <%= render 'items/item_member', member: member, bill: @bill, split: @split, item: item, item_member: @item_member %>
                        <% end %>
                      </ul>
                    </div>
                    <%# <p class="col-1"><%= "#{item.quantity}"</p> %>
                    <%# <p class="col-2"><%= sprintf("%.2f", item.price / 100.00)</p> %>
                  </div>

                  <%# <div class="pop-up d-none" data-add-people-button-target="popup"> %>
                </div>
              </div>

            </div>

            <%= render "added_item_members", item: %>
          <% end %>
        </div>
      </div>

    </div>
  </div>


<%# ------------------------------------------------------------- %>


  <div class="bill-footer container-fluid bill-index" >

    <%= simple_form_for @bill, data: { edit_bill_target: "taxDescriptions" } do |f| %>

        <div class="row mb-5">
          <div class="col-4">
            <%= f.input :discount, input_html: {
              class: 'd-none',
              data:{
                # action: 'blur->edit-bill#updateTax',

              }
            } %>
            <div>
              <input min="0" value="<%= cents_to_dollars(@bill.discount) %>" class="w-100" type="number" data-bill-target="discount" data-action="blur->edit-bill#updateTax">
            </div>
          </div>

          <div class="col-4">
            <%= f.input :taxes, input_html: {
              class: 'd-none',
              data:{

                }
            } %>
            <input min="0" value="<%= cents_to_dollars(@bill.taxes) %>" class="w-100" type="number" data-bill-target="taxes" data-action="blur->edit-bill#updateTax">
          </div>

          <div class="col-4">

            <%= f.input :service_charge, label: "SVC",  input_html: {
              class: 'd-none',
              data:{

                }
            } %>
            <input  min="0" value="<%= cents_to_dollars(@bill.service_charge) %>" class="w-100" type="number" data-bill-target="service_charge" data-action="blur->edit-bill#updateTax">
          </div>
        </div>
    <% end %>


    <%= render 'bills/breakdown', bill: @bill %>

    <br>
    <hr>

    <% if user_signed_in? %>
      <div class="add-receipt justify-content-center">
        <p style="margin-bottom: 20px">Add another receipt?</p>
        <div class="d-flex justify-content-center">
          <%= link_to "<button>Yes</button>".html_safe, select_split_bills_path, class:"add-another-receipt" %>
          <%= link_to "<button>No</button>".html_safe, split_path(@split), class:"continue-to-bill-summary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
