<!DOCTYPE html>
<html>
  <head>
    <title>Fairfare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Bree+Serif&family=Lora&family=Montserrat:wght@200;300&family=Noto+Serif&family=Satisfy&family=Tilt+Prism&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <div class="page-content sign-up-page">
      <%= yield %>
    </div>
  </body>
</html>
